# Práctica 0: PRÁCTICA DE INTRODUCCIÓN
## Alejandro Santorum Varela - alejandro.santorum@estudiante.uam.es
## José Manuel Chacón Aguilera - josem.chacon@estudiante.uam.es

In [1]:
import pandas as pd
import random

In [2]:
class Datos:

    # TODO: procesar el fichero para asignar correctamente las variables nominalAtributos, datos y diccionarios
    def __init__(self, nombreFichero):
        # Init attributes
        self.datos = None
        self.nominalAtributos = None
        self.diccionario = None

        # reading csv
        data_csv = pd.read_csv(nombreFichero, delimiter=',')
        # storing data values in 'datos' class variable
        self.datos = data_csv.values
        
        # building 'nominalAtributos' variable: list of boolean values with the same legth as the number of features
        # of the dataset (including the class feature). If the feature is a nominal value (string) the variable
        # 'nominalAtributos' will contain True, False if the feature is an integer or a real number.
        self.nominalAtributos = []
        example_row = self.datos[1]
        for item in example_row:
            if isinstance(item, str): # nominal feature
                self.nominalAtributos.append(True)
            elif isinstance(item, int) or isinstance(item, float): # integer or real feature
                self.nominalAtributos.append(False)
            else: # feature neither nominal nor integer nor real
                raise ValueError('Tipo de dato diferente a nominal, entero o real')
        
        # building 'diccionario' variable: list of dictionaries. For each nominal feature a dictionary is built:
        # each key will correspond with an unique nominal and its value is the numerical representation of that key/nominal.
        self.diccionario = []
        ncols = self.datos.shape[1]
        for col in range(ncols):
            # If the feature is integer type or real type, its dictionary is empty (it doesn't need translation)
            if self.nominalAtributos[col] == False:
                self.diccionario.append({})
            # If the feature is nominal, then we build its translation dictionary to numerical values
            else:
                col_set = list(set(self.datos[:,col]))   # getting unique nominals
                col_set.sort()                      # sorting nominals alphabetically 
                feature_dict = {}
                for i in range(len(col_set)):       
                    feature_dict[col_set[i]] = i  # {key: nominal, value: i} (counter)
                self.diccionario.append(feature_dict)  # appending new dictionary for that feature
        

    def extraeDatos(self, idx):
        # Se implementara en la practica 1
        pass

# Test con tic tac toe dataset

In [3]:
ttt_Datos = Datos('ConjuntosDatos/tic-tac-toe.data')

In [4]:
ttt_data_csv = pd.read_csv('ConjuntosDatos/tic-tac-toe.data', delimiter=',')
ttt_data_csv.head()

,TLeftSq,TMidSq,TRightSq,MLeftSq,MMidSq,MRightSq,BLeftSq,BMidSq,BRightSq,Class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [5]:
ttt_data = ttt_data_csv.values
ttt_data[:5,]

array([['x', 'x', 'x', 'x', 'o', 'o', 'x', 'o', 'o', 'positive'],
       ['x', 'x', 'x', 'x', 'o', 'o', 'o', 'x', 'o', 'positive'],
       ['x', 'x', 'x', 'x', 'o', 'o', 'o', 'o', 'x', 'positive'],
       ['x', 'x', 'x', 'x', 'o', 'o', 'o', 'b', 'b', 'positive'],
       ['x', 'x', 'x', 'x', 'o', 'o', 'b', 'o', 'b', 'positive']],
      dtype=object)

In [6]:
nrows, ncols = ttt_data.shape
print(nrows, ncols)

958 10

Vamos a comprobar que el atributo 'datos' se ha llenado correctamente comparándolo con el conjunto de datos leído directamente del csv.

In [7]:
# Escogemos una fila al azar
random_row = random.randint(0, nrows-1)

In [8]:
print(ttt_data[random_row])
print(ttt_Datos.datos[random_row])
print(ttt_data[random_row] == ttt_Datos.datos[random_row])

['x' 'x' 'o' 'o' 'x' 'o' 'o' 'x' 'x' 'positive']
['x' 'x' 'o' 'o' 'x' 'o' 'o' 'x' 'x' 'positive']
[ True  True  True  True  True  True  True  True  True  True]

Vamos a comprobar que el atributo 'nominalAtributos' se ha configurado correctamente de forma visual

In [9]:
ttt_data[1]

array(['x', 'x', 'x', 'x', 'o', 'o', 'o', 'x', 'o', 'positive'],
      dtype=object)

In [10]:
ttt_Datos.nominalAtributos

[True, True, True, True, True, True, True, True, True, True]

Vamos a comprobar la lista de diccionarios del atributo 'diccionario'

In [11]:
ttt_Datos.diccionario

[{'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'b': 0, 'o': 1, 'x': 2},
 {'negative': 0, 'positive': 1}]

# Test con german dataset

In [12]:
ger_Datos = Datos('ConjuntosDatos/german.data')

In [13]:
ger_data_csv = pd.read_csv('ConjuntosDatos/german.data', delimiter=',')
ger_data_csv.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,Class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [14]:
ger_data = ger_data_csv.values
ger_data[:5,]

array([['A11', 6, 'A34', 'A43', 1169, 'A65', 'A75', 4, 'A93', 'A101', 4,
        'A121', 67, 'A143', 'A152', 2, 'A173', 1, 'A192', 'A201', 1],
       ['A12', 48, 'A32', 'A43', 5951, 'A61', 'A73', 2, 'A92', 'A101', 2,
        'A121', 22, 'A143', 'A152', 1, 'A173', 1, 'A191', 'A201', 2],
       ['A14', 12, 'A34', 'A46', 2096, 'A61', 'A74', 2, 'A93', 'A101', 3,
        'A121', 49, 'A143', 'A152', 1, 'A172', 2, 'A191', 'A201', 1],
       ['A11', 42, 'A32', 'A42', 7882, 'A61', 'A74', 2, 'A93', 'A103', 4,
        'A122', 45, 'A143', 'A153', 1, 'A173', 2, 'A191', 'A201', 1],
       ['A11', 24, 'A33', 'A40', 4870, 'A61', 'A73', 3, 'A93', 'A101', 4,
        'A124', 53, 'A143', 'A153', 2, 'A173', 2, 'A191', 'A201', 2]],
      dtype=object)

In [15]:
nrows_ger, ncols_ger = ger_data.shape
print(nrows_ger, ncols_ger)

1000 21

Vamos a comprobar que el atributo 'datos' se ha llenado correctamente comparándolo con el conjunto de datos leído directamente del csv.

In [16]:
# Escogemos una fila al azar
random_row_ger = random.randint(0, nrows_ger-1)

In [17]:
print(ger_data[random_row_ger])
print(ger_Datos.datos[random_row_ger])
print(ger_data[random_row_ger] == ger_Datos.datos[random_row_ger])

['A14' 24 'A34' 'A40' 1287 'A64' 'A75' 4 'A92' 'A101' 4 'A121' 37 'A143'
 'A152' 2 'A173' 1 'A192' 'A201' 1]
['A14' 24 'A34' 'A40' 1287 'A64' 'A75' 4 'A92' 'A101' 4 'A121' 37 'A143'
 'A152' 2 'A173' 1 'A192' 'A201' 1]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True]

Vamos a comprobar que el atributo 'nominalAtributos' se ha configurado correctamente de forma visual

In [18]:
ger_data[1]

array(['A12', 48, 'A32', 'A43', 5951, 'A61', 'A73', 2, 'A92', 'A101', 2,
       'A121', 22, 'A143', 'A152', 1, 'A173', 1, 'A191', 'A201', 2],
      dtype=object)

In [19]:
ger_Datos.nominalAtributos

[True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False]

Vamos a comprobar la lista de diccionarios del atributo 'diccionario'

In [20]:
ger_Datos.diccionario

[{'A11': 0, 'A12': 1, 'A13': 2, 'A14': 3},
 {},
 {'A30': 0, 'A31': 1, 'A32': 2, 'A33': 3, 'A34': 4},
 {'A40': 0,
  'A41': 1,
  'A410': 2,
  'A42': 3,
  'A43': 4,
  'A44': 5,
  'A45': 6,
  'A46': 7,
  'A48': 8,
  'A49': 9},
 {},
 {'A61': 0, 'A62': 1, 'A63': 2, 'A64': 3, 'A65': 4},
 {'A71': 0, 'A72': 1, 'A73': 2, 'A74': 3, 'A75': 4},
 {},
 {'A91': 0, 'A92': 1, 'A93': 2, 'A94': 3},
 {'A101': 0, 'A102': 1, 'A103': 2},
 {},
 {'A121': 0, 'A122': 1, 'A123': 2, 'A124': 3},
 {},
 {'A141': 0, 'A142': 1, 'A143': 2},
 {'A151': 0, 'A152': 1, 'A153': 2},
 {},
 {'A171': 0, 'A172': 1, 'A173': 2, 'A174': 3},
 {},
 {'A191': 0, 'A192': 1},
 {'A201': 0, 'A202': 1},
 {}]